@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body, html{
    background-color: #000;
    color: #fff;
}

a, a:hover,a:visited{
    color: unset; /*nao terá outra cor a nao ser a padrao*/
    text-decoration: none; /*nao terá nenum sublinhado*/
}

header{
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height: 220px;
    display: flex;
    align-items: center;/*juntamente com o display flex alinhei na vertical*/
    justify-content:center;/*alinhamento na horizontal*/
}

.dsmeta-logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmeta-logo-container img{
    width: 235px;
    height: 106.07px;
    margin-top: 28px;   
}

.dsmeta-logo-container h1{
    margin-top: 15px;
    font-size: 24px;
}

.dsmeta-logo-container p{
    font-size: 14px;
    font-weight: 300;/*o peso da fonte (fina ou grossa)*/
}

.dsmeta-card{
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}
.dsmeta-sales-title{
   /* margin-top: 32px;
    margin-left: 16px;
    margin-right: 36px;
   */
    color: #676FFF; 
    font-size: 24px;
    margin-bottom: 20px;
}

.dsmeta-container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto; /*macete para alinhar ao centro*/
}

 #sales {
   padding: 40px 10px;
}
.dsmeta-form-control-container{
 margin-bottom: 16px;
 max-width: 300px;
}

.dsmeta-form-control{
    background-color: #1B2531;
    width: 100%;
    height: 46px;
    border: 1px solid #384459;
    color: #9aaabe;
    padding: 0 20px;
    font-size: 18px;
}

.dsmeta-sales-table{
    width: 100%;
   border-spacing: 0;
   border-collapse: collapse;/*para eu poder usar o border top nas filhas*/
}

.dsmeta-sales-table thead{
    height:  55px;
    font-size: 16px;
    color: #E9E9E9;
    font-weight: 700;
}

.dsmeta-sales-table tbody{
    font-size: 14px;
    font-weight: 400;
    color: #CFCFCF;
}

.dsmeta-sales-table tbody tr{
   height: 74px;
   border-top: 1px solid #5F6E82;
   text-align: center;
}

.dsmeta-sales-table tbody tr:hover > td{
/* este > td so de passar em um elemento da linha ja faz efeito*/
    background-color: #384459;
}

.dsmeta-sales-table tbody tr:nth-child(odd){
 /* eu quero qual filho do tr ? quero o filho impar entao, coloco dentro 
 parentese 'odd' que significa impar. neste caso estou dizendo quando a 
 linha for impar eu coloco este background  definido no corpo da classe*/

    background-color: #242c3b;
}

.dsmeta-red-btn-container{
    display: flex;
    justify-content: center;
}

.dsmeta-red-btn {
    height: 45px;
    width: 45px;
    background: rgba(255, a07, 114, 0.1);
    border: 1px solid #ff6b72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /*faz o mouse virar maozinha*/
}

.dsmeta-red-btn img {
    width: 19px;
}

.show576{
    display: none;
}

@media (min-width: 576px){
    .show576{
        display: table-cell; /*display normal de um elemento de tabela, resumindo: antes de 576px a class esta como none, aqui vai ficar normal*/
       
    }
    .dsmeta-card {
        padding: 35px;
    }

    .dsmeta-sales-table tbody tr{
        height: 55px;
    }

    .dsmeta-sales-table tbody{
        font-size: 18px;
    }
}

.show992{
    display: none;
}

@media (min-width: 992px){
    .show992{
        display: table-cell;
    }
}